.cartitems {
  margin: 100px 170px;
  display: flex;
  gap: 50px;
}

/* Wrapping the table in a scrollable container */
.cartitems-table-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.cartitems-format-main {
  border-bottom: 4px solid #454545;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 3fr 5fr 1fr 1.5fr 1.5fr 1.5fr;
  align-items: center;
  gap: 75px;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.cartitems-down {
  margin-block: 50px;
}

.cartitems-total {
  display: flex;
  flex-direction: column;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button {
  width: 260px;
  height: 60px;
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background: #ff5a5a;
}

.cartitems-promocode {
  font-size: 16px;
  font-weight: 500;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  border-radius: 75px;
  margin-top: 15px;
  padding-block: 10px;
  height: 58px;
  background: #eaeaea;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

/* Media Queries for responsiveness */

/* Large devices (desktops, 1024px and below) */
@media screen and (max-width: 1024px) {
  .cartitems {
    margin: 100px 50px;
  }

  .cartitems-total {
    margin-right: 50px;
  }
}

/* Medium devices (tablets, 768px and below) */
@media screen and (max-width: 768px) {
  .cartitems {
    margin: 50px 20px;
    flex-direction: column;
    gap: 20px;
  }

  .cartitems-total {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .cartitems-down {
    flex-direction: column;
    gap: 20px;
  }

  .cartitems-promobox {
    flex-direction: column;
    /* height: auto; */
    gap: 10px;
  }

  .cartitems-promobox input {
    width: 100%;
    
  }
  .cartitems-promobox button{
    margin-top: 2.25rem;
  }
}

/* Small devices (phones, 480px and below) */
@media screen and (max-width: 480px) {
  .cartitems {
    margin: 30px 10px;
    flex-direction: column;
    gap: 20px;
  }

  .cartitems-total button {
    width: 100%;
  }

  .cartitems-promobox {
    flex-direction: column;
    padding: 10px;
    /* height: auto; */
  }

  .cartitems-promobox input {
    font-size: 12px;
  }
  .cartitems-promobox button{
    margin-top: 2.25rem;
  }
}
